body {
	font-size: 50px;
}
.correct {
	/* background-color: green; */
	/* color: white; */
}

.incorrect {
	/* background-color: red; */
	/* color: white; */
}

.button {
  background-color: #b2b2b2;
  color: black;
}

h2 {
	font-size: 5rem;
}

p {
	font-size: 40px;
}

h3 {
	font-size: 50px;
}
